body {
    font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    text-align: center;
    color: #293c4b;
    background-color: #DEDEDE;
}

h1 {
    font-size: 30px;
}

.main-title {
    margin-top: 8rem;
    margin-bottom: 5rem;
    font-size: 60px;
}

.main-search-bar {
    margin-bottom: 10rem;
    width: 20rem;
    max-width: 80%;
}

img {
    margin: 20px 0;
    max-width: 200px;
}

input {
    font-size: 1.5rem;
    color: #232323;
    background-color: transparent;
    border-style: solid;
    border-width: 0 0 2px 0;
    outline: none;
    text-decoration-color: #000000;
    padding-left: 0.5rem;
}

#background-img {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1000;
    background: url(/nothing.svg) no-repeat;
    background-size: 70%;
    background-position-x: center;
    background-position-y: center;
    opacity: 0.08;
}